<%= link_to "註冊", sign_up_path %>
<%= link_to "登入", sign_in_path %>

<%= link_to "中文", :locale => 'zh-TW' %>
<%= link_to "English", :locale => 'en' %>
<h1>任務總覽</h1>

<%= link_to "新增任務", new_task_path %>

<%= form_tag(tasks_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("搜尋") %>
<% end %>


<div id="tasks">
  <table>
    <tr>
      <td><%= t('edit', scope: 'activerecord.attributes.action') %></td>
      <td><%= t('show', scope: 'activerecord.attributes.action') %></td>
      <td><%= t('title', scope: 'activerecord.attributes.task') %></td>
      <td><%= t('content', scope: 'activerecord.attributes.task') %></td>
      <td><%= sortable "status" %></td>
      <td><%= sortable "start_at" %></td>
      <td><%= sortable "end_at" %></td>
      <td><%= sortable "priority" %></td>
      <td><%= t('delete', scope: 'activerecord.attributes.action') %></td>
    </tr>
  


    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to t('edit', scope: 'activerecord.attributes.action'), edit_task_path(task) %></td>
        <td><%= link_to t('show', scope: 'activerecord.attributes.action'), task_path(task) %></td>
        <td><%= truncate(task.title, :length => 10) %></td>
        <td><%= truncate(task.content, :length => 30) %></td>
        <% if task.status == '待處理' %>
        <td><%= t('pending', scope: 'activerecord.attributes.status') %></td>
        <% elsif task.status == '進行中'%>
        <td><%= t('on_going', scope: 'activerecord.attributes.status') %></td>
        <% else task.status == '已完成'%>
        <td><%= t('done', scope: 'activerecord.attributes.status') %></td>
        <% end %>
        <td><%= task.start_at %></td>
        <td><%= task.end_at %></td>
        <td><%= task.priority %></td>
        <td><%= link_to t('delete', scope: 'activerecord.attributes.action'), task_path(task), data: { "turbo-method": :delete, "turbo-confirm": "注意，一旦刪除就無法復原！"} %></td>
      </tr>
    <% end %>
  </table>
</div>